---
import { events } from 'data/events';
import { Calendar } from 'src/components/icons';
import type { Event } from 'src/data';
---

<section id="agenda" class="bg-slate-200">
  <article class="container">
    <h1>Agenda</h1>
    {
      events.map((e: Event) => (
        <Fragment key={e.title}>
          <h2>{e.title}</h2>
          <div class="flex items-center">
            <Calendar />
            <span>{e.description}</span>
          </div>
        </Fragment>
      ))
    }
  </article>
</section>

<style>
  h1 {
    @apply mb-16 !important;
  }

  h2 {
    @apply mb-2 !important;
  }
</style>
