---
import type { CartItem } from '@pgl/data'

import ToShoppingCart from './_toShoppingCart'

const fasiPin: CartItem = {
  article: 'Fasi-Pin 2025',
  description: '40 x 30 mm / Silber',
  price: 10,
}
const pinPackage: CartItem = {
  article: 'Pin-Package',
  description: 'Alle drei Pins zusammen',
  price: 25,
}
---

<div class="mt-8 bg-pgl-blue text-white">
  <div class="place-content-evenly gap-16 p-4 md:container md:flex lg:gap-32">
    <div class="md:w-1/2">
      <p class="text-center text-4xl font-bold md:text-6xl">Events</p>
      <div class="my-8">
        <p class="mb-4 text-center text-3xl font-bold md:hidden">
          Offene Probe
        </p>
        <div class="flex place-content-between gap-2">
          <div>
            <p class="mb-4 hidden text-4xl font-bold md:block">Offene Probe</p>
            <p class="md:mb-2 md:font-bold">
              PGL Live Konzert am Mittwoch, 19. Februar, ab 19:30 im Bocciodromo
              FC Kickers Luzern
            </p>
            <p class="md:mb-2 md:font-bold">
              Türöffnung ab 17:30, Eintritt frei, Kollekte
            </p>
            <p class="md:mb-2 md:font-bold">Keine Sitzplatz-Reservation</p>
          </div>
          <a href="OffeneProbe.png">
            <img
              src="OffeneProbe-Banner.webp"
              alt="OffeneProbe"
              class="h-44 max-w-none rounded-md shadow-lg hover:drop-shadow-xl"
            />
          </a>
        </div>
      </div>
      <div class="my-8">
        <p class="mb-4 text-center text-3xl font-bold md:hidden">
          Chöbu-Samschtig
        </p>
        <div class="flex place-content-between gap-2">
          <div>
            <p class="hidden text-3xl font-bold md:block md:text-4xl">
              Chöbu-Samschtig
            </p>
            <p class="md:mb-2 md:font-bold">
              Sichert euch JETZT euren Platz am 18. Chöbu-Samschtig im
              Restaurant Stadtkeller Luzern!
            </p>
            <p class="md:mb-2 md:font-bold">Sitzplätze ausverkauft!</p>
            <p class="md:mb-2 md:font-bold">
              Tickets direkt beim Stadtkeller: 041 410 47 33
            </p>
          </div>
          <a href="Flyer_Choebu-Samschtig.png">
            <img
              src="Choebu-Samschtig.webp"
              alt="ChöbuSamschtig"
              class="h-44 max-w-none rounded-md shadow-lg hover:drop-shadow-xl"
            />
          </a>
        </div>
      </div>
    </div>
    <div class="md:w-1/2">
      <p class="text-center text-4xl font-bold md:text-6xl">Jetzt im Shop</p>
      <div class="my-8">
        <div class="flex place-content-between gap-2">
          <div>
            <p class="text-2xl font-bold md:text-4xl">Fasi-Pin 2025</p>
            <p class="md:mb-2 md:font-bold">40 x 30 mm / Silber</p>
            <p class="mb-8 md:font-bold">
              CHF {fasiPin.price?.toFixed(2)}
            </p>
            <ToShoppingCart item={fasiPin} client:visible />
          </div>
          <img
            src="fasi-pin.webp"
            alt="FasiPin"
            class="h-44 max-w-none rounded-md shadow-lg"
          />
        </div>
      </div>
      <div class="my-8">
        <div class="flex place-content-between gap-2">
          <div>
            <p class="text-2xl font-bold md:text-4xl">Pin-Package</p>
            <p class="md:mb-2 md:font-bold">Alle aktuellen Pins zusammen</p>
            <p class="mb-8 md:font-bold">
              CHF {pinPackage.price?.toFixed(2)}
            </p>
            <ToShoppingCart item={pinPackage} client:visible />
          </div>
          <img
            src="all-pins.webp"
            alt="AllPins"
            class="h-44 max-w-none rounded-md shadow-lg"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mt-8 bg-pgl-blue py-4 text-white">
  <p class="text-center text-4xl font-bold md:hidden">Fasnachtsprogramm 2025</p>
  <div class="flex place-content-between gap-4 p-4 md:container">
    <div class="my-auto">
      <p class="mb-8 hidden text-6xl font-bold md:block">
        Fasnachtsprogramm 2025
      </p>
      <p class="md:font-bold">
        Für unsere Fans und all jene, die es werden wollen: Damit ihr wisst, wo
        wir sind während der Fasnacht. <br class="md:hidden" /> 🥳 🥁 🎺
      </p>
    </div>
    <a href="Fasiprogramm2025.png">
      <img
        src="Fasiprogramm2025-Banner.png"
        alt="Fasiprogramm"
        class="h-44 max-w-none rounded-md shadow-lg hover:drop-shadow-xl"
      />
    </a>
  </div>
</div>
