---

---

<div class="bg-pgl-blue mt-8 text-white">
  <div class="container flex place-content-between py-2">
    <div class="my-auto">
      <p class="text-2xl md:text-4xl md:mb-4 font-bold">Chöbu-Samschtig</p>
      <p class="md:font-bold">
        Sichert euch JETZT euren Platz am 17. Chöbu-Samschtig im Restaurant Stadtkeller Luzern!
      </p>
      <p class="md:font-bold">Reservationen direkt beim Stadtkeller: 041 410 47 33</p>
    </div>
    <a href="Flyer_Choebu-Samschtig.png">
      <img src="Choebu-Samschtig.png" alt="ChöbuSamschtig" class="h-44 max-w-none" />
    </a>
  </div>
</div>
