---

---

<div class="mt-8 bg-pgl-blue text-white">
  <div class="mx-auto flex max-w-3xl place-content-between p-4 sm:px-6 lg:max-w-4xl lg:px-8 xl:max-w-6xl">
    <div class="my-auto">
      <p class="text-2xl font-bold md:mb-4 md:text-4xl">Chöbu-Samschtig</p>
      <p class="md:font-bold">
        Sichert euch JETZT euren Platz am 17. Chöbu-Samschtig im Restaurant Stadtkeller Luzern!
      </p>
      <p class="md:font-bold">Reservationen direkt beim Stadtkeller: 041&nbsp;410&nbsp;47&nbsp;33</p>
    </div>
    <a href="Flyer_Choebu-Samschtig.png">
      <img
        src="Choebu-Samschtig.png"
        alt="ChöbuSamschtig"
        class="ml-4 h-full max-w-none shadow-xl duration-300 md:h-44 md:hover:scale-105 md:hover:shadow-2xl"
      />
    </a>
  </div>
</div>
