<div class="mt-8 bg-pgl-blue py-4 text-white">
  <div class="container md:flex">
    <div>
      <p class="mb-4 text-3xl font-bold">Auftritt am LU Couture Fashion Day</p>
      <p class="hidden text-xl md:block">
        Am Samstag, 11. Oktober 2025 geben wir beim LU Couture Fasion Day ein
        Platzkonzert.<br />Dieses startet um 14:15 Uhr auf dem Vorplatz des Le
        Théâtre Emmen.<br />Wir freuen uns auf euren Besuch!
      </p>
    </div>
    <div class="grow"></div>
    <div class="flex items-center gap-3">
      <a href="./flyer-lu-couture.pdf" target="_blank">
        <img
          src="./lu-couture.webp"
          alt="Fasiprogramm"
          class="w-full max-w-none rounded-md shadow-lg hover:drop-shadow-xl md:h-56"
        />
      </a>
      <p class="block md:hidden">
        Am Samstag, 11. Oktober 2025 geben wir beim LU Couture Fasion Day ein
        Platzkonzert.<br />Dieses startet um 14:15 Uhr auf dem Vorplatz des Le
        Théâtre Emmen.<br />Wir freuen uns auf euren Besuch!
      </p>
    </div>
  </div>
</div>
