---
import Layout from '../layouts/Layout.astro';
import About from './_sections/About.astro';
import Agenda from './_sections/Agenda.astro';
import Contact from './_sections/Contact';
import Hero from './_sections/Hero.astro';
import Media from './_sections/Media.astro';
import News from './_sections/News.astro';
import Shop from './_sections/Shop.astro';
---

<Layout title="Pilatusgeister Luzern">
  <main>
    <Hero />
    <News />
    <Agenda />
    <About />
    <Media />
    <Shop />
    <Contact client:visible />
  </main>
</Layout>
