---
import ArrowLink from 'src/components/arrow-link.astro';
import Layout from 'src/layouts/Layout.astro';
import Checkout from './_checkout';
---

<Layout title="PGL | Checkout">
  <main>
    <div class="container">
      <article>
        <ArrowLink style="mt-12" href="/#shop" content="Zurück zum Shop" />
        <Checkout client:load />
      </article>
    </div>
  </main>
</Layout>
