---
import ArrowLink from '@pgl/components/arrow-link.astro';
import Layout from '../../layouts/Layout.astro';
---

<Layout title="PGL | Checkout">
  <main>
    <div class="container">
      <article>
        <ArrowLink style="mt-12" href="/#shop" content="Zurück zum Shop" />
        <h1>Warenkorb</h1>
        <p>Vielen Dank für deine Bestellung!</p>
        <p>Du wirst in Kürze eine Email mit den Zahlungsinformationen erhalten.</p>
      </article>
    </div>
  </main>
</Layout>
