---
import { fetchFromContentful, type InternCalendarItem } from '@pgl/contentful';

const byDate = (a: InternCalendarItem, b: InternCalendarItem) => {
  return new Date(a.datum).getTime() - new Date(b.datum).getTime();
};

const calendarItems = (await fetchFromContentful<InternCalendarItem>('internKalender')).sort(byDate);
---

<h2>Kalender</h2>
{
  calendarItems.map((calendarItem) => (
    <div class="w-full p-1 odd:bg-slate-100 even:bg-white">
      <div class="font-bold md:mr-4">
        {new Date(calendarItem.datum).toLocaleDateString('de-CH', {
          year: 'numeric',
          month: '2-digit',
          day: '2-digit'
        })}
        : {calendarItem.anlass}
      </div>
      <span>{calendarItem.ort}</span>
    </div>
  ))
}
