---
import { Download } from 'src/components/icons';
import type { TypeInternAllgemeinFields } from 'src/contentful';
import ContentService from 'src/lib/contentful';

const documents = (await ContentService.instance.getEntriesByType<TypeInternAllgemeinFields>('internAllgemein')).map(
  (entry) => entry.fields
);
---

<h2>Allgemein</h2>
{
  documents.map((document) => (
    <div class="flex w-full p-1 odd:bg-slate-100 even:bg-white hover:bg-slate-200">
      <span>{document.titel}</span>
      <span class="grow" />
      <span
        data-title={document.dokument.fields.file.fileName}
        data-src={document.dokument.fields.file.url}
        class="download mt-[4px] duration-300 md:hover:scale-125 md:hover:cursor-pointer"
      >
        <Download />
      </span>
    </div>
  ))
}
