---
import { Download } from '@pgl/components/icons';
import { fetchFromContentful, type InternNewsletterItem } from '@pgl/contentful';

const newsletterItems = await fetchFromContentful<InternNewsletterItem>('internNewsletter');
---

<h2>Newsletter</h2>
{
  newsletterItems.map((newsletter) => (
    <div class="flex w-full p-1 odd:bg-slate-100 even:bg-white hover:bg-slate-200">
      <span>{newsletter.titel}</span>
      <span class="grow" />
      <span
        data-title={newsletter.dokument.fields.file?.fileName}
        data-src={newsletter.dokument.fields.file?.url}
        class="download mt-[4px] duration-300 md:hover:scale-125 md:hover:cursor-pointer"
      >
        <Download />
      </span>
    </div>
  ))
}
