---
import { Download } from 'src/components/icons';
import type { TypeInternNewsletterFields } from 'src/contentful';
import ContentService from 'src/lib/contentful';

const newsletterEntries = (
  await ContentService.instance.getEntriesByType<TypeInternNewsletterFields>('internNewsletter')
).map((entry) => entry.fields);
---

<h2>Newsletter</h2>
{
  newsletterEntries.map((newsletter) => (
    <div class="flex w-full p-1 odd:bg-slate-100 even:bg-white hover:bg-slate-200">
      <span>{newsletter.titel}</span>
      <span class="grow" />
      <span
        data-title={newsletter.dokument.fields.file.fileName}
        data-src={newsletter.dokument.fields.file.url}
        class="download mt-[4px] duration-300 md:hover:scale-125 md:hover:cursor-pointer"
      >
        <Download />
      </span>
    </div>
  ))
}
