---
import { Download } from '@pgl/components/icons'
import { fetchFromContentful, type InternNotenItem } from '@pgl/contentful'

const notenItems = await fetchFromContentful<InternNotenItem>('internNoten')
---

<h2>Noten</h2>
{
  notenItems.map((noten) => (
    <div class="flex w-full p-1 odd:bg-slate-100 even:bg-white hover:bg-slate-200">
      <span>{noten.titel}</span>
      <span class="grow" />
      <span
        data-title={noten.dokument.fields.file?.fileName}
        data-src={noten.dokument.fields.file?.url}
        class="download mt-[4px] duration-300 md:hover:scale-125 md:hover:cursor-pointer">
        <Download />
      </span>
    </div>
  ))
}
